.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.report, .report-header, .report-body, .report-footer {
  border: 1px dashed gray;
  margin:3px;
  background-color: white;
}

.report {
  background-color: lightgray;
}

.toolbox {
  border-right: 1px solid black;
  min-height: 100vh;
}



.report-row {
  min-height: 2em;
  border: 1px solid gray;
  margin: 4px;
}

.edit-mode {
  background: yellow;
  width: 100%;
}

.report-col.edit-mode {
  background: lightgreen;
  min-height: 2em;
  border: 1px solid black;
  margin: 2px;
}

/* content header row */
.cheader-row{
  margin: 4px;
  min-height: 2em;
}

/* toolbox elements */
.row-element, .col-element {
  border: 1px solid lightblue;
}

